@import "https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap";
@keyframes slideDownIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(-100%);
  }
}
@keyframes slideDownInMobile {
  0% {
    transform: translateY(-1.25rem);
  }
  100% {
    transform: translateY(0.625rem);
  }
  0% {
    transform: translateY(-1.25rem);
  }
}
@keyframes slideUpIn {
  0% {
    transform: translateY(-1.25rem);
  }
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(1.25rem);
  }
}
@keyframes slideUpInMobile {
  0% {
    transform: translateY(2.5rem);
  }
  100% {
    transform: translateY(1.5625rem);
  }
  0% {
    transform: translateY(2.5rem);
  }
}
@keyframes slideLeftIn {
  0% {
    transform: translateX(6.25rem);
  }
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(-6.25rem);
  }
}
@keyframes slideRightIn {
  0% {
    transform: translateX(6.25rem);
  }
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(6.25rem);
  }
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0%);
  }
}
.admin-main-container {
  background-color: #f1f5f9;
  padding-bottom: 2rem;
  min-height: 100vh;
}
.admin-main-container .admin-main-wrapper {
  max-width: 1280px;
  margin: auto;
}
.admin-main-container .admin-main-wrapper .admin-banner-container {
  grid-column: 1 / span 2;
}
.admin-main-container .admin-main-wrapper .admin-main-conten {
  grid-column: 1 / span 2;
}
@media screen and (min-width: 62rem) {
  .admin-main-container .admin-main-wrapper .admin-main-conten {
    grid-column: auto;
  }
}
.admin-main-container .admin-main-wrapper {
  display: flex;
  justify-content: center;
}
.admin-main-container .admin-main-wrapper .business-overview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .admin-main-container .admin-main-wrapper .business-overview-container {
    flex-direction: row;
  }
}
.admin-main-container
  .admin-main-wrapper
  .business-overview-container
  .meal-time {
  text-align: center;
  font-size: 20px;
}
.admin-main-container .admin-main-wrapper .business-overview-card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(17, 24, 39, 0.09);
  padding: 26px 24px;
  flex-shrink: 0;
  min-width: 200px;
}
.admin-main-container .admin-main-wrapper .business-overview-card .title {
  color: #64748b;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.admin-main-container .admin-main-wrapper .business-overview-card .count {
  color: #1e293b;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 7px;
  display: inline-block;
}
.admin-main-container .admin-main-wrapper .business-overview-card .label {
  font-size: 14px;
  color: #64748b;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.admin-main-container
  .admin-main-wrapper
  .business-overview-card
  .monthly-revenue {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #38a169;
}
.admin-main-container .admin-main-wrapper .business-overview-card .bg-sky {
  background: #0ea5e9;
}
.admin-main-container .admin-main-wrapper .business-overview-card .bg-orange {
  background-color: #f59e0b;
}
.admin-main-container .admin-main-wrapper .admin-main-conten {
  position: sticky;
  top: 0;
}
.admin-main-container .admin-main-wrapper .admin-main-conten .overview {
  padding: 3rem 0px;
}
.admin-main-container .admin-main-wrapper .best-selling-courses {
  overflow: auto;
}
section {
  margin: 0.5rem 0 !important;
  padding: 0.5rem 0 !important;
}
.meal-type {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #38a169;
}
.bg-orange {
  background-color: #f59e0b;
}
.table-wrapper .section-top {
  padding: 0px 24px;
  padding-top: 24px;
  background-color: #fff;
}
.table-wrapper .section-top .title-main {
  color: #1e293b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 12px;
}
.table-wrapper .section-top .des {
  color: #64748b;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.admin-table {
  margin: auto;
}
.admin-table thead th {
  height: 47px;
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  background: #f8fbfe;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0px 24px;
}
.admin-table tbody tr {
  background: #fff;
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  transition: 0.3s;
}
.admin-table tbody td {
  padding: 13px 24px;
}
.admin-table tbody td .course-image-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}
.admin-table tbody td figure {
  width: 104px;
  height: 61px;
  border-radius: 6px;
  background: var(--Neutral-N200, #edeff5);
  overflow: hidden;
}
.admin-table tbody td .course-name {
  overflow: hidden;
  color: #1e293b;
  text-overflow: ellipsis;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.admin-table tbody td .summery {
  overflow: hidden;
  color: #64748b;
  text-overflow: ellipsis;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.admin-table tbody td .muted {
  color: #64748b;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.admin-table tbody .dropdown-menu {
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(17, 24, 39, 0.09);
}
.admin-table tbody .dropdown-menu li {
  margin: 10px 0px;
}
.admin-table tbody .dropdown-item {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  gap: 8px;
  align-items: center;
}
.admin-table tbody .pill {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 100px;
  background: #7b61ff;
  display: inline-flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 6rem;
  width: -moz-fit-content;
  width: fit-content;
}
.admin-table tbody .bg-secondary {
  background: #94a3b8 !important;
}
.admin-table tbody .danger {
  color: #ff4141;
}
.billing-box-container {
  border: solid 0.0625rem #e5e5e5;
  padding: 1.875rem;
  border-radius: 0.0625rem;
  border-radius: 0.0625rem;
}
.billing-box {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}
.billing-box .title {
  color: #111;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.billing-box .line {
  height: 0.0625rem;
  width: 100%;
  background-color: #ededed;
}
.billing-box .plan-detail {
  background-color: #434443;
  color: #fff;
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border-radius: 0.3125rem;
}
.billing-box .single-bill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 1.25rem;
  border-bottom: 1px solid #e5e5e5;
}
.billing-box .single-bill .name {
  color: #111;
  leading-trim: both;
  text-edge: cap;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.billing-box .single-bill .value {
  color: #696868;
  leading-trim: both;
  text-edge: cap;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.billing-box .single-bill.last {
  background: rgba(203, 202, 202, 0.55);
}
.billing-box .confirm-ordr-btn {
  background-color: #090d1d;
  padding: 0.625rem 1.125rem;
  color: #fff;
  border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  margin-top: 1.25rem;
}
.billing-box .confirm-ordr-btn:hover {
  background-color: #074f28;
}
.flex-1 {
  flex: 1;
}
