{% extends 'base.html' %}
{% load static %}

{% block title %}
 <title>BD Menu | Cooking Station</title>
{% endblock %}

{% block content %}

<!-- ======= BD Menu Section ======= -->

<br><br><br>
<br><br>


<main class="container">

  <div style="background-color: #f7f7f7; padding: 20px; border-radius: 10px; text-align: center;">
    <h2 style="color: #4CAF50; font-family: 'Arial Black', sans-serif;">MENU</h2>
    <p style="font-size: 18px; color: #333; font-family: 'Arial', sans-serif;">Check out our wide range of delicious and healthy dishes! 
        Our menu offers something for everyone, crafted with fresh ingredients and prepared at home with extra touches of care.</p>
</div>
    <br>
  <div class="menu">
    <h2 class="menu-group-heading" style="color: green;font-weight: bold;">Lunch Item's</h2>
    <div class="menu-group">

    <!-- menu-item-start -->
    <div class="menu-item">
      <img
        src="{% static 'assets/img/menu/chkn-curry.jpg' %}"
        alt="Chicken Curry Image"
        class="menu-item-img"
      />
      <div class="menu-item-text">
        <h4 class="menu-item-heading">
          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Main Dish:</span> Rice and Chicken Curry</span> </h4>  <p></p>

          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Side Dish:</span> Vegetable Fry</span>  <br><br>
        
        <p class="menu-item-desc">
         Chicken cooked with juicy texture in bengali style. Its Cooked with natural ingredients. Vegetable fry like potato, cauliflower etc.
        </p>
      </div>
    </div>


      <!-- menu-item-start -->
    <div class="menu-item">
      <img
        src="{% static 'assets/img/menu/big-fish.jpg' %}"
        alt="Black Placeholder Image"
        class="menu-item-img"
      />
      <div class="menu-item-text">
        <h4 class="menu-item-heading">
          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Main Dish:</span> Rice and Big Fish Curry</span> </h4>  <p></p>

          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Side Dish:</span> Daal, Vorta</span>  <br><br>
        
        <p class="menu-item-desc">
         Big Fish cooked with vegetable in bengali style. Its Cooked with natural ingredients. Lentils Daal and any kind of vorta like bean, potato etc.
        </p>
      </div>
    </div>

      <!-- menu-item-start -->
    <div class="menu-item">
      <img
        src="{% static 'assets/img/menu/vegetable-curry.jpg' %}"
        alt="Black Placeholder Image"
        class="menu-item-img"
      />
      <div class="menu-item-text">
        <h4 class="menu-item-heading">
          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Main Dish:</span> Rice and Mix Vegetables Special Curry</span> </h4>  <p></p>

          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Side Dish:</span> Kalo Jira Vorta and Daal</span>  <br><br>
        
        <p class="menu-item-desc">
          Various kinds of Vegetables cooked with juicy texture in bengali style. Its Cooked with natural ingredients. Lentils Daal and Kalo jira vorta.
        </p>
      </div>
    </div>

    <!-- menu-item-start -->
    <div class="menu-item">
      <img
        src="{% static 'assets/img/menu/small-fish.jpg' %}"
        alt="Black Placeholder Image"
        class="menu-item-img"
      />
      <div class="menu-item-text">
        <h4 class="menu-item-heading">
          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Main Dish:</span> Rice and Small Fish Curry</span> </h4>  <p></p>

          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Side Dish:</span> Vegetable Fry</span>  <br><br>
        
        <p class="menu-item-desc">
          Small Fish cooked with vegetable or only fish in bengali style. Its Cooked with natural ingredients. Lentils Daal and any kind of vorta like bean, potato etc.
        </p>
      </div>
    </div>

    <!-- menu-item-start -->
    <div class="menu-item">
      <img
        src="{% static 'assets/img/menu/Egg-Curry.jpg' %}"
        alt="Black Placeholder Image"
        class="menu-item-img"
      />
      <div class="menu-item-text">
        <h4 class="menu-item-heading">
          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Main Dish:</span> Rice and Egg Curry</span> </h4>  <p></p>

          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Side Dish:</span> Vegetable Fry</span>  <br><br>
        
        <p class="menu-item-desc">
         Egg cooked with juicy texture in bengali style. Its Cooked with natural ingredients. Vegetable fry like potato, Eggplant etc.
        </p>
      </div>
    </div>

    <!-- menu-item-start -->
    <div class="menu-item">
      <img
        src="{% static 'assets/img/menu/beef-khi.jpg' %}"
        alt="Black Placeholder Image"
        class="menu-item-img"
      />
      <div class="menu-item-text">
        <h4 class="menu-item-heading">
          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Main Dish:</span> Khicuri and Beef Vuna</span> </h4>  <p></p>

          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Side Dish:</span> Salad and Lemon</span>  <br><br>
        
        <p class="menu-item-desc">
          Beef Vuna cooked  in bengali style. Its Cooked with natural ingredients. Tomato or cucumber salad and lemon.
        </p>
      </div>
    </div>

    <!-- menu-item-start -->
    <div class="menu-item">
      <img
        src="{% static 'assets/img/chefs/chefs-3.jpg' %}"
        alt="Black Placeholder Image"
        class="menu-item-img"
      />
      <div class="menu-item-text">
        <h4 class="menu-item-heading">
          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Main Dish:</span> Chef Special</span> </h4>  <p></p>

          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Side Dish:</span> Chef Special</span>  <br><br>
        
        <p class="menu-item-desc">
         Our professional chef will make this dish accourrding to with his/her recipie.
        </p>
      </div>
    </div>

    <!-- menu-item-start -->
    <div class="menu-item">
      <img
        src="{% static 'assets/img/menu/small-fish-2.jpg' %}"
        alt="Black Placeholder Image"
        class="menu-item-img"
      />
      <div class="menu-item-text">
        <h4 class="menu-item-heading">
          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Main Dish:</span> Rice and Small Fish Vuna</span> </h4>  <p></p>

          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Side Dish:</span> Vegetable Fry, Daal</span>  <br><br>
        
        <p class="menu-item-desc">
          Only Small Fish cooked in bengali style. Its Cooked with natural ingredients. Lentils Daal and any kind of vorta like bean, Pumpkin etc.
        </p>
      </div>
    </div>
        

    <!-- End of lunch section -->
        


    <!-- start of dinner section -->

    </div>
  </div>
  <div class="menu">
    <h2 class="menu-group-heading" style="color: green;font-weight: bold;">Dinner Item's</h2>
    <div class="menu-group">

      <!-- menu-item-start -->
    <div class="menu-item">
      <img
        src="{% static 'assets/img/menu/beef-curry-2.jpg' %}"
        alt="Black Placeholder Image"
        class="menu-item-img"
      />
      <div class="menu-item-text">
        <h4 class="menu-item-heading">
          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Main Dish:</span>Beef Curry</span> </h4>  <p></p>

          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Side Dish:</span> Salad and Lemon</span>  <br><br>
        
        <p class="menu-item-desc">
          Beef Curry cooked  in bengali style. Its Cooked with natural ingredients. Salad : Tomato or cucumber salad and lemon.
        </p>
      </div>
    </div>


      <!-- menu-item-start -->
    <div class="menu-item">
      <img
        src="{% static 'assets/img/menu/sea-fish.jpg' %}"
        alt="Black Placeholder Image"
        class="menu-item-img"
      />
      <div class="menu-item-text">
        <h4 class="menu-item-heading">
          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Main Dish:</span> Sea Fish Curry</span> </h4>  <p></p>

          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Side Dish:</span> Daal and Vorta</span>  <br><br>
        
        <p class="menu-item-desc">
          Sea Fish cooked  in bengali style with potato. Its Cooked with natural ingredients. Side: Daal and vorta like Beans, Eggplant, potato etc.
        </p>
      </div>
    </div>


      <!-- menu-item-start -->
    <div class="menu-item">
      <img
        src="{% static 'assets/img/menu/chkn-biriyani.jpg' %}"
        alt="Black Placeholder Image"
        class="menu-item-img"
      />
      <div class="menu-item-text">
        <h4 class="menu-item-heading">
          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Main Dish:</span>Chicken Biriyani</span> </h4>  <p></p>

          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Side Dish:</span> Salad and Lemon</span>  <br><br>
        
        <p class="menu-item-desc">
          Chicken Biriyani cooked  in bengali style. Its Cooked with natural ingredients. Tomato or cucumber salad and lemon.
        </p>
      </div>
    </div>

    <!-- menu-item-start -->
    <div class="menu-item">
      <img
        src="{% static 'assets/img/menu/vegetable-curry.jpg' %}"
        alt="Black Placeholder Image"
        class="menu-item-img"
      />
      <div class="menu-item-text">
        <h4 class="menu-item-heading">
          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Main Dish:</span> Rice and Mix Vegetables Special Curry</span> </h4>  <p></p>

          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Side Dish:</span> Kalo Jira Vorta and Daal</span>  <br><br>
        
        <p class="menu-item-desc">
          Various kinds of Vegetables cooked with juicy texture in bengali style. Its Cooked with natural ingredients. Lentils Daal and Kalo jira vorta.
        </p>
      </div>
    </div>

    <!-- menu-item-start -->
    <div class="menu-item">
      <img
        src="{% static 'assets/img/chefs/chefs-3.jpg' %}"
        alt="Black Placeholder Image"
        class="menu-item-img"
      />
      <div class="menu-item-text">
        <h4 class="menu-item-heading">
          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Main Dish:</span> Chef Special</span> </h4>  <p></p>

          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Side Dish:</span> Chef Special</span>  <br><br>
        
        <p class="menu-item-desc">
         Our professional chef will make this dish accourrding to with his/her recipie.
        </p>
      </div>
    </div>

    <!-- menu-item-start -->
    <div class="menu-item">
      <img
        src="{% static 'assets/img/menu/veg-khicuri.png' %}"
        alt="Black Placeholder Image"
        class="menu-item-img"
      />
      <div class="menu-item-text">
        <h4 class="menu-item-heading">
          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Main Dish:</span>Vegetable Khicuri</span> </h4>  <p></p>

          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Side Dish:</span> Vorta</span>  <br><br>
        
        <p class="menu-item-desc">
          Various kinds of Vegetables cooked with rice in bengali style. Its Cooked with natural ingredients. Side: Vorta Like fish, potato, pumkin etc.
        </p>
      </div>
    </div>

    <!-- menu-item-start -->
    <div class="menu-item">
      <img
        src="{% static 'assets/img/menu/egg-khi.png' %}"
        alt="Black Placeholder Image"
        class="menu-item-img"
      />
      <div class="menu-item-text">
        <h4 class="menu-item-heading">
          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Main Dish:</span>Egg Khicuri</span> </h4>  <p></p>

          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Side Dish:</span> Vorta and vegetable fry</span>  <br><br>
        
        <p class="menu-item-desc">
          Egg Khicuri cooked with rice and egg in bengali style. Its Cooked with natural ingredients. Side: Vorta Like fish, potato, pumkin etc and vegetable fry like Cabbage, Beans etc.
        </p>
      </div>
    </div>

    <!-- menu-item-start -->
    <div class="menu-item">
      <img
        src="{% static 'assets/img/menu/sutki.jpg' %}"
        alt="Black Placeholder Image"
        class="menu-item-img"
      />
      <div class="menu-item-text">
        <h4 class="menu-item-heading">
          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Main Dish:</span> Sutki Special Curry</span> </h4>  <p></p>

          <span class="menu-item-name"> <span style="color: green;font-weight: bold;">Side Dish:</span> Vorta and vegetable fry</span>  <br><br>
        
        <p class="menu-item-desc">
          Sutki Special Curry cooked with potato or eggplant in bengali style. Its Cooked with natural ingredients. Side: Vorta Like fish, potato, pumkin etc and vegetable fry like Cabbage, Beans etc.
        </p>
      </div>
    </div>
        
    

    </div>
  </div>
</main>
<script src="{% static 'assets//assets/src/app.js' %}"></script>

{% endblock %}
