{% load static %}   
<!-- ======= Footer ======= -->
   <footer id="footer" class="footer">
      <div class="container">
         <div class="row gy-3">
            <div class="col-lg-3 col-md-6 d-flex">
               <i class="bi bi-box-arrow-up-left"></i>
               <div>
                  <h4>Useful Link</h4>
                  <p>
                     <a class="useful-link" href="{% url 'terms' %}">Terms and Condition</a>
                  </p>
                  <p>
                     <a class="useful-link" href="{% url 'privacy' %}">Privacy Policy</a>
                  </p>
                  <p><a class="useful-link" href="{% url 'feedback' %}">Feedback</a></p>
                  <p>
                     <a class="useful-link" href="{% url 'about' %}">About</a>
                  </p>
               </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-links d-flex">
               <i class="bi bi-telephone icon"></i>
               <div>
                  <h4>Support</h4>
                  <p>
                     <strong>Phone: <br /> </strong>UK: +447388620365, <br />
                     BD: +8801753161968 <br />
                     <strong>Email:</strong>
                     <a class="useful-link" href="mailto:support@cookingstation.homes">support@cookingstation.homes</a><br />
                  </p>
               </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-links d-flex">
               <i class="bi bi-clock icon"></i>
               <div>
                  <h4>Opening Hours</h4>
                  <p>
                     <strong>Mon-Sun:</strong> 10AM - 10PM<br />
                     <strong>Friday:</strong> 12PM - 2PM Break Hours
                  </p>
               </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
               <h4>Follow Us</h4>
               <div class="social-links d-flex">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/cooking.station.service" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/cooking-station/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
               </div>
            </div>
         </div>
      </div>

      <div class="container">
         <div class="copyright">
            &copy;2024 Copyright <strong><span>Cooking Station</span></strong>. All Rights Reserved
         </div>
      </div>
   </footer>

   <!-- End Footer -->