{% extends 'base.html' %}
{% block title %} 
    <title>Forgot Password | Cooking Station</title>
 {% endblock %}
{% block content %}

    <style>
        /* Custom CSS for centering the forgot div */
        .forgot-container {
            padding: 100px 0;
        }
    </style>


    <!-- Forgot Password Form -->
    <section class="px-3">
<div class="container" style="margin-top: 50px;"> <!-- Add margin to top -->
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4" style="background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);">
            <small>{% include 'alerts.html' %}</small>
            <h2 class="text-center mb-4">Forgot Password</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Enter your phone number" required>
                </div>
                <button type="submit" class="btn btn-success w-100">Submit</button>
            </form>
        </div>
    </div>
</div>

   </section>

{% endblock %}