{% extends 'base.html' %}
{% block title %} 
    <title>Reset Password | Cooking Station</title>
 {% endblock %}
{% block content %}

<style>
        /* Custom CSS for centering the password div */
        .password-container {
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 10px;
            margin: 100px 0;
        }
    </style>

    <section class="px-3">
        <!-- Password Form -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 password-container">
                    <small>{% include 'alerts.html' %}</small>
                    <h2 class="text-center mb-4">Create New Password</h2>
                    <form action="{% url 'reset_password' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
{#                            <label for="newPassword" class="form-label">New Password</label>#}
                            <input type="password" class="form-control" id="newPassword" name="new_password" placeholder="Enter new password"
                                required>
                        </div>
                        <div class="mb-3">
{#                            <label for="confirmPassword" class="form-label">Confirm Password</label>#}
                            <input type="password" class="form-control" id="confirmPassword" name="confirm_password" placeholder="Confirm new password"
                                required>
                        </div>
                        <button type="submit" class="btn btn-success w-100">Set New Password</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}